/* Estilos gerais */
html {
    font-family: 'Lato', sans-serif;
}

/* Parte onde está escrito HEITOR CHORA DEMAIS */
header {
    background-color: #5f89f7;
    height: 5%;
    width: 70%;
    padding: 2%;
    font-size: 33px;
    font-weight: bold;
}

/* Estilos gerais do corpo */
body {
    background-color: #2f323a;
    padding-left: 5%;
    color: #f3f3f3;
}

body p::first-letter {
    text-transform: uppercase;
}

/* Adicionando classe para ocultar o corpo enquanto carrega */
body.hidden {
    visibility: hidden;
    background-color: #222;
}

/* Estilos das seções */
section {
    margin-bottom: 50px;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.1em;
}

p {
    font-size: 18px;
    font-weight: 300;
    padding-left: 0.5%;
}

/* Estilos do título */
.titulo {
    font-size: 2.5em;
    margin: 1%;
}

.h2dotitulo h2 {
    font-weight: 300;
    padding-left: 1%;
}

/* Estilos da tabela listrada */
.striped-table {
    border-collapse: collapse;
    background-color: #814c9e;
}

tr td:first-child {
    color: white;
}

.striped-table td {
    color: #98e695;
}

.striped-table th,
.striped-table td {
    padding: 23px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 1em;
}

.striped-table tbody tr:nth-child(odd) {
    background-color: #814c9e;
}

/* Remover estilos padrão de links */
a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: underline;
}

/* Estilos das imagens */
.imagens-do-heitor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Redimensionamento das imagens */
.espada-do-heitor1 img {
    max-width: 50%; /* Redimensiona a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.espada-do-heitor2 img {
    max-width: 50%; /* Redimensiona a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
}




/* Estilos do destaque na rolagem */
.highlight-on-scroll {
    position: relative;
    display: inline-block;
}

.highlight-on-scroll::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: -1;
    border-radius: 5px;
}

.highlight-on-scroll.highlight::before {
    opacity: 1;
}
